.bir {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.ikki {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.kor {
    z-index: 999;
    width: 700px;
    height: auto;
    background-color: rgba(22, 213, 8, 0.584);
    border-radius: 15px;
    margin-left: 400px;
    margin-top: 50px;
    margin-bottom: 60px;
}

.kor div text {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 18px;
    color: white;
}

.kor div button {
    width: 100px;
    height: 60px;
    border: none;
    border-radius: 15px;
    background-color: blueviolet;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 18px;
}

.kor div p span {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 18px;
}

.kor div p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 18px;
}